/.venv
/Bricks090_2K-PNG
/Endpoints_Extract_Training.py
/Endpoint_network_old
/NTBC_paper.pdf
/Combined_ancient
/Bricks090_8K-PNG
/Bricks090_diffuse_8K
/Old Stuff
/Bricks090_diffuse
.agents
Data
NTBC
Paper stuff
NTBC_outputs
VNTBC_Outputs
__pycache__